<div class="container">
  <header>
    <h1>Our Legislators</h1>
    <nav class="navbar navbar-default">
      <div class="container">
        <ul class="nav navbar-nav">
          <li>{{#link-to 'index'}}Home{{/link-to}}</li>
          <li>{{#link-to 'committees'}}Committees{{/link-to}}</li>
          <li>{{#link-to 'bills'}}Bills{{/link-to}}</li>
        </ul>
      </div>
    </nav>
  </header>
  {{outlet}}
</div>
